.container {
    color: #3F3F3F;
    display: flex;
    flex-direction: column;
}
/*.user {
    padding:3%;
    width: 300px;
    margin: 0 auto;
    font-size: 19px;
    font-style: italic;
    color: #0B5E56;
}
.user-pic {
    width: 150px;
    float:left;
}
.innerDiv {
    padding: 2%;
}*/